 .navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
 }

.navigation Link{
    text-decoration: none;
}

.nav-link{
    color: black;
    font-weight: bold;
    font-size: large;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-link:hover {
  color: #007bff; 
  transform: scale(1.1);
}

 .icons{
    margin-left: 1350px;
    width: 35%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
 }
 .icons svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.icons svg:hover {
  color: #007bff;
  transform: scale(1.2);
}